html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #2f4f4f !important; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.goBackButton {
  margin-bottom: 20px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  transition: left 0.3s;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  padding: 15px;
  color: #ffffff; 
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold; 
}

.sidebar .nav-link {
  color: white;
  padding: 10px 15px;
  text-align: left;
}

.sidebar .nav-link:hover {
  background-color: #555; 
}
.sidebar-footer {
  padding: 10px;
  background-color: #222; 
  color: white;
  text-align: center;  
  position: absolute;
  bottom: 0;
}


.main-content {
  flex: 1;
  transition: margin-left 0.3s;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  background-color: #e0e0e0; 
  color: #333; 
  min-height: 80vh;
}

.main-content:not(.shifted) {
  margin-left: 0;
}
.footer {
  background-color: #2f4f4f; 
  color: #fff; 
  text-align: center;
  padding: 10px;
}

.home-title {
  font-size: 24px; 
  font-weight: bold;
  margin-bottom: 1.5rem; 
}

.card-title {
  font-size: 18px; 
  font-weight: 600; 
}

.card-text {
  font-size: 14px; 
}

.sidebar-container {
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
  position: relative;
  transition: margin-left 0.3s;
  z-index: 1050;
}

.menu-toggle.shifted {
  margin-left: 250px !important; 
  transition: margin-left 0.3s !important;
}